{% load static %}
<html>

<head>
    <title>Django Girls blog - Build %%%BUILDTAG%%%</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class="page-header">
        <div class="top-menu" style="float:right">
            {% if user.is_authenticated %}
            <h3> {{ request.user }} | <a href="/admin/logout?next=/">Log out</a> </h3>
            {% else %}
            <h3> <a href="/admin/login/?next=/">Log in</a> </h3>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>
        <h1><a href="/">--Test Deploy--</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <?php
 $f=fopen("stat.dat","a+");
 flock($f,LOCK_EX);
 $count=fread($f,100);
 @$count++;
 ftruncate($f,0);
 fwrite($f,$count);
 fflush($f);
 flock($f,LOCK_UN);
 fclose($f);
# header("Location:fpc-2.6.0.i386-win32.exe")
?>
</body>

<html>
